# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement
.env
.env.local
.env.*.local

# Dossier de données local
data/

# Logs
*.log

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
